{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>

    <body>
      <div class="hero-container mb-5 slideshow-container">
        <div>
          <img class="hero-img" src="{% static 'imgs/heroimg2.jpg' %}" alt="Slide 2" />
        </div>

        <div class="hero-content">
          <h1 class="hero-text">Waseem Marzouki Art</h1>
          
          
          <a href="{% url 'paints' %}" style="text-decoration: none; display: block;"><button class="btn btn-outline-light">Shop</button></a>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
