{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_shop_sidebar.html' %}
  <div class="container-fluid px-4 mt-3">
    <div class="row">
      <div class="col-12">
        <div class="text-center mt-3">
          <h1 class="fw-bold">Prints</h1>
          <hr class="hr--large" />
        </div>
        <div class="row">
          {% for item in itemss %}
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
              <div class="w-100">
                <a href="{% url 'paint_detail' item.pk %}" class="text-decoration-none">
                  <div class="card-body d-flex flex-column align-items-center product-card {% if item.status == 'SO' %}sold-card{% endif %}">
                    <div class="image-container mb-2">
                      {% if item.status == 'SO' %}
                        <img src="{% static 'icons/Sold.png' %}" class="sold-badge" alt="Sold Badge">
                      {% endif %}
                      <img src="{{ item.item_photo.url }}" loading="lazy" alt="Paint Photo" class="img-fluid" onerror="this.src='{% static 'imgs/default.png' %}'" />
                    </div>
                    <h5 class="card-title text-center product-title">{{ item.item_name }}</h5>
                    <p class="card-text text-center product-price">
                      {% if item.get_final_price < item.item_price %}
                        <span style="color: green; font-weight: 700;">${{ item.get_final_price|floatformat:2 }}</span>
                        <span class="text-muted text-decoration-line-through ms-2">${{ item.item_price|floatformat:2 }}</span>
                      {% else %}
                        <span>${{ item.item_price|floatformat:2 }}</span>
                      {% endif %}
                    </p>
                  </div>
                </a>
              </div>
            </div>
          {% empty %}
            <p>No items available.</p>
          {% endfor %}
        </div>
        {% include 'partials/_pagination.html' with page_obj=itemss %}
      </div>
    </div>
  </div>
<style>
  .image-container {
    width: 90%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .image-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .sold-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 70px !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
    z-index: 20;
    pointer-events: none;
  }
</style>
{% endblock %}
