<!-- templates/create.html -->
{% extends 'base.html' %}
{% block title %} Checkout {% endblock %}
{% block content %}
<div class="paints-header text-center mt-3 font-weight-bold">
  <h1>Checkout</h1>
  <h3 class="font-weight-light">Your Order:</h3>
</div>

<form method="post" class="order-form">
  {{ form.as_p }}
  <p><input type="submit" value="Place order" /></p>
  {% csrf_token %}
</form>

<div class="check">
  <ul>
    {% for item in cart_items %}
    <li>
      {{ item.quantity }}x {{ item.product }}
      <span>${{ item.total_price }}</span>
    </li>
    {% endfor %}
  </ul>
  <p>Total: ${{ cart_total_price }}</p>
</div>
{% endblock %}
