{% extends 'admin_base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Add Variation</title>
    </head>
    <body>
        <div class="main-content">
            <h1>Add a new Variation</h1>
            <form method="post">
                {% csrf_token %}
                {{ variation_form.as_p }}
                <button type="submit">Save</button>
            </form>
            <a href="{% url 'dashboard:variation_list' %}">Back to list</a>
    </div>
</body>
</html>
{% endblock %}
