{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-4 mt-3">
    <div class="row">
        <!-- Sidebar -->
        {% if on_dashboard_page %}
        <div class="col-md-2 mt-3 d-none d-lg-block">
            <h1 class="sidebar-header text-center" style="margin-top: -10px">Shop Manager</h1>
            <hr class="hr--large" />
            <a href="{% url 'dashboard:store_items_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'store_items_list' %}active{% endif %}"><i class="fas fa-box"></i>Listings</a>
            <a href="{% url 'dashboard:section_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'section_list' %}active{% endif %}"><i class="fas fa-th-large"></i>Categories</a>
            <a href="{% url 'dashboard:discount_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'discount_list' %}active{% endif %}"><i class="fas fa-percent"></i>Financials</a>
            <a href="{% url 'dashboard:order_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'order_list' %}active{% endif %}"><i class="fas fa-box"></i>Orders</a>
            <a href="{% url 'dashboard:newsletter_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'newsletter_list' %}active{% endif %}"><i class="fa fa-newspaper" aria-hidden="true"></i>News Letter</a>
            <a href="{% url 'dashboard:users_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'users_list' %}active{% endif %}"><i class="fa fa-users" aria-hidden="true"></i>Users</a>
        </div>
        {% endif %}
        <div class="{% if on_dashboard_page %}col-12 col-lg-10{% else %}col-12{% endif %}">
            <h1 class="header-container mb-3">Send Newsletter</h1>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="id_subject">Subject</label>

                    {{ form.subject }}
                </div>
                <p></p>
                <div class="form-group">
                    <label for="id_message">Message</label>
                    {{ form.message }}
                </div>
                <p></p>
                <button type="submit" class="btn btn-success">Send Newsletter</button>
                <a href="{% url 'dashboard:newsletter_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}